<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- <add key="proget-default" value="https://proget.rxweb-tools.com/nuget/Default/" /> -->
        <add key="NuGet-feed-v3" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!-- <add key="NuGet-feed-v3" value="https://api.nuget.org/v3/index.json" /> -->
    </packageSources>
    <disabledPackageSources>
        <add key="NuGet-feed-v3" value="true" />
    </disabledPackageSources>
</configuration>